<div class="my-5 col-10 col-lg-9 mx-auto">
    <button class="btn btn-dark rounded-pill" onclick="openProjectForm()" id="filter-btn">Add Project</button>
    {{!-- ADD PROJECT FORM --}}
    <div id="show-form-filter">
        <form id="filter-form" class="project-form ">
            <div class="card-header my-2">
                <h4> Enter Your Project Information</h4>
            </div>
            <div class="my-4">
                <label class="fw-bold" for="project-name">Project Name: </label>
                <br>
                <input type="search" id="project-name" class="form-control" name="project-name-query" placeholder="Name">
            </div>
            <div class="my-4">
                <label class="fw-bold" for="subject-query">Subject: </label>
                <br>
                <input type="search" id="subject-query" class="form-control" name="subject-query" placeholder="Subject">
            </div>
            <div class="my-4">
                <label class="fw-bold" for="project-url">Project URL: </label>
                <br>
                <input type="search" id="project-url" class="form-control" name="subject-query" placeholder="Project Link">
            </div>
            <div>
                <label class="fw-bold" for="abstract-input">Abstract:</label> 
                <textarea class="form-control" rows="4" name="comment" form="usrform" id="abstract-input" placeholder="Abstract"></textarea>

            </div>
            <div class="d-flex flex-row">
                <div class="m-4">
                    <p>Finished</p>
                    <label for="finished-query-yes">Yes</label>
                    <input type="radio" id="finished-query-no" name="finished-query">
                    <label for="finished-query-no">No</label>
                    <input type="radio" id="finished-query-yes" name="finished-query">
                </div>
                <div class="m-4">
                    <p>Seeking Collab</p>
                    <label for="collab-query-yes">Yes</label>
                    <input class="mt-1" type="radio" id="collab-query-yes" name="collab-query">
                    <label for="collab-query-no">No</label>
                    <input type="radio" id="collab-query-no" name="collab-query form-control">
                </div>
            </div>
                <button class="btn btn-dark rounded-pill" type="Submit">Submit</button>
        </form>
    </div>
    {{!-- project cards --}}
    <div id="show-filter">
        {{#each userProjects}}
            <div class="card my-2 p-3">
                <h2>{{project_name}}</h2>
                <h5 class="my-1 text-dark fw-bold">
                    <a class="text-decoration-none text-dark" href="mailto:{{user.email}}">{{user.name}}</a>
                </h5>
                <p class="my-2">
                    <span class="badge bg-secondary my-1 my-md-0">{{subject}}</span>
                    <span class="badge bg-secondary my-1 my-md-0">Ongoing Status: {{ongoing_status}}</span>
                    <span class="badge bg-secondary my-1 my-md-0">Seeking Collaborators: {{collab_status}}</span>
                </p>
                
                <h6 class="card-subtitle mb-2 text-muted">{{user.institution}}</h6>
                <p>{{abstract}}</p>
                <h6>
                    <a class="text-decoration-none btn btn-outline-dark rounded text-dark" href="{{project_url}}">Read the paper ➔</a>
                </h6>
            </div>
        {{/each}}
    </div>
</div>
<script src="/js/profile.js"></script>