<div class="my-5 col-10 col-lg-9 mx-auto">
    <div>
        <h2>{{project.project_name}}</h2>
        <h5 class="my-1 text-dark fw-bold">
            <a class="text-decoration-none text-dark" href="mailto:{{project.user.email}}">{{project.user.name}}</a>
        </h5>
        <p class="my-2">
            <span class="badge bg-secondary my-1 my-md-0">{{project.subject}}</span>
            <span class="badge bg-secondary my-1 my-md-0">Ongoing Status: {{project.ongoing_status}}</span>
            <span class="badge bg-secondary my-1 my-md-0">Seeking Collaborators: {{project.collab_status}}</span>
        </p>
        
        <h6 class="card-subtitle mb-2 text-muted">{{project.user.institution}}</h6>
        <p>{{project.abstract}}</p>
        <h6>
            <a class="text-decoration-none btn btn-outline-dark rounded text-dark" href="{{project.project_url}}">Read the paper ➔</a>
        </h6>
    </div>            
</div>
<div class="bg-dark text-white">
    <div class="py-4 col-10 col-lg-9 mx-auto">
        <h4>Comments</h4>
        {{#unless project.comments}}
        <p>Be the first to comment!</p>
        {{/unless}}
        <div class="d-flex mb-3">
            <textarea id='comment' class="card card-body d-flex text-dark" style="height: 60px"></textarea>
            <button id="create-comment-btn" class="button btn rounded border-secondary px-3 bg-white mx-1" style="height: 35px"><strong>✓</strong></button>
        </div>
        {{#if project.comments}}
            {{#each project.comments}}
            {{log user}}
            <div class="border border-secondary rounded p-2 bg-white">
                <p class="text-muted my-0">{{user.name}}</p>
                <p class="text-dark">{{body}}</p>
            </div>
            {{/each}}
        {{/if}}
    </div>
</div>
                            
<script src="/js/createComment.js"></script